body{
    background-color: #efecea;
    margin: 0%;
}
h2{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    margin-top: 2%;

}

hr{
    border: 1px solid black;
    margin-left: 50px;
}

.card{
    font-family: 'Manrope', sans-serif;
    background-color: #d9d9d9;
    align-items: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 3%;
    padding-bottom: 1%;
    border: 0;
}

.button-cadastrar{
    font-family: 'Manrope', sans-serif;
    background-color: green;
    color: white;
    border: none;
    padding: 9px;
    border-radius: 0px;
    font-size: 15px;
    cursor: pointer;
}