body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    background-color: #efecea;
}
h1{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    margin-top: 2%;
    font-size:larger;
}

hr{
    border: 1px solid black;
    margin-left: 50px;
}

.card{
    font-family: 'Manrope', sans-serif;
    background-color: #d9d9d9;
    padding: 10px;
    padding-left: 10px;
    border: 0;
}
.card-group{
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;   
}

@media screen and (max-width: 1302px){
    .card-group{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1074px){
    .card-group{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}

.button-excluir{
    font-family: 'Manrope', sans-serif;
    background-color: red;
    border: none;
    padding: 4px;
    width: 40%;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    position: center;
    cursor: pointer;
}


.button-adicionar{
    font-family: 'Manrope', sans-serif;
    background-color: green;
    border: none;
    padding: 9px;
    width: 120px;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 3%;
}