body{
    background-color:  #efecea;
    margin: 0%;
}

.card{
    background-color: #d9d9d9;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding-left: 5%;
    margin-bottom: 50px;
    padding-top: 3%;
    padding-bottom: 1%;
}

.form{
    width: 100%;
    background-color: #d9d9d9;
}

input{
    width: 80%;
    padding: 6px 10px;
    margin: 2%;
    box-sizing: border-box;
}

.fonte{
    font-family: 'Manrope', sans-serif;
}

.column1{
    float: left;
    width: 45%;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.column2{
    float: left;
    width: 45%;
    margin-top: 15px;
}

.fonte:after{
    content: "";
    display: table;
    clear: both;
}

.fonte button{
    font-family: 'Manrope', sans-serif;
    background-color: green;
    float: right;
    margin-right: 20px;
    border: none;
    padding: 9px;
    border-radius: 0px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
}

h2{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    margin-top: 2%;
    font-size:larger;
}

hr{
    border: 1px solid black;
    margin-left: 4%;
}

