.div_style{
    background-color: pink;
    text-align: center;
    width: 100%;
    flex-direction: row;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 999px;
    margin: 0px;
}



