body{
    margin: 0;
    background-color: #efecea
}

h2{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    font-size: large;
}

hr{
    font-family: 'Manrope', sans-serif;
    border: 2px solid black;
    margin-left: 4%;
}

.name{
    font-family: 'Manrope', sans-serif;
    font-size: large;
}

.card{
    font-family: 'Manrope', sans-serif;
    background-color: #d9d9d9;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
}

.card-group{
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;   
}

@media screen and (max-width: 1302px){
    .card-group{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1074px){
    .card-group{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}

.button-excluir{
    font-family: 'Manrope', sans-serif;
    background-color: red;
    border: none;
    padding: 9px;
    width: 100%;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    position: center;
    cursor: pointer;
}

.button-editar{
    font-family: 'Manrope', sans-serif;
    background-color: #6343ff;
    border: none;
    padding: 9px;
    width: 100%;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    position: center;
    cursor: pointer;
}
.button-treino{
    font-family: 'Manrope', sans-serif;
    background-color: #6343ff;
    border: none;
    padding: 9px;
    width: 100%;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    position: center;
    cursor: pointer;
}

.button-adicionar{
    font-family: 'Manrope', sans-serif;
    background-color: green;
    border: none;
    padding: 9px;
    width: 120px;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 3%;
}

.card-footer{
    margin-bottom: 5px;
}