body{
    margin: 0;
    background-color: #efecea;
}

h2{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
}

hr{
    border: 1px solid black;
    margin-left: 4%;
}

h3{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    margin-top: 2%;
    font-size:larger;
}

.descricao{
    font-family: 'Manrope', sans-serif;
    margin-left: 4%;
    margin-top: 2%;
    font-size:larger;
}  

.card{
    font-family: 'Manrope', sans-serif;
    background-color: #d9d9d9;
    align-items: center;
}

.card-group{
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;   
}

@media screen and (max-width: 1302px){
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1074px){
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 480px){
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}
